@charset "UTF-8";

@import "setting/fonts";
@import "setting/vars";
@import "setting/reset";
@import "setting/mixin";

@import "section/law";
@import "section/header";
@import "section/intro";
@import "section/Cal";
@import "section/footer";
@import "section/chatbot";

